<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/af218e02-5f68-4799-9e90-1921c739324d/resourcegroups/myoungPortfolio222220180102021027ResourceGroup/providers/Microsoft.Web/sites/myoungPortfolio222220180102021027</ResourceId>
    <ResourceGroup>myoungPortfolio222220180102021027ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://myoungportfolio222220180102021027.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>myoungportfolio222220180102021027.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>myoungPortfolio222220180102021027</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$myoungPortfolio222220180102021027</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:myoungportfolio.database.windows.net,1433;Initial Catalog=myoungportfolio;Persist Security Info=False;User ID=MartinYoung;Password=Programmer22;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:myoungportfolio.database.windows.net,1433;Initial Catalog=myoungportfolio;Persist Security Info=False;User ID=MartinYoung;Password=Programmer22;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="myoung_Portfolio2222.Models.ApplicationDbContext, myoung_Portfolio2222" MigrationConfiguration="myoung_Portfolio2222.Migrations.Configuration, myoung_Portfolio2222" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:myoungportfolio.database.windows.net,1433;Initial Catalog=myoungportfolio;Persist Security Info=False;User ID=MartinYoung;Password=Programmer22;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>