@model myoung_Portfolio2222.Models.EmailModel


<div id="preloader">
	<div id="preloader-inner"></div>
</div><!--/preloader-->
<!--  navbar -->
<!--end navigation-->

<section id="home" class="dzsparallaxer auto-init dzsparallaxer---window-height use-loading" style="position: relative; height: 800px;" data-options='{  mode_scroll: "normal" }'>
	<div class="divimage dzsparallaxer--target" data-src="/one-page/assets/images/blueSkies.jpg" style="width: 100%; height: 100%; padding-top: -5em !important; background-image: url()">
        <div class="hero-parallax">

            <div class="hero-outer">
                <div class="hero-inner">
                    <div class="hero-content">
                        <div class="hero-static">
                            <h1><b>M Young is <span class="type-text" data-elements="C#, MVC, HTML/CSS, SQL/SSRS "></span></b></h1>
                        </div>
                    </div>
                </div>
                
                    <div class="buttons2">
                        <a data-scroll href="#agency" class="btn btn-skin btn-lg" style="color:black; font-size:inherit; font-family:inherit">Life</a>

                        <a href="~/one-page/2025_01_02_Formated_Resume.pdf" target="_blank" class="btn btn-skin btn-lg" type="button" title="download pdf" style="color:black; font-size:inherit; font-family:inherit">Resume</a>

                        <a data-scroll href="#services" class="btn btn-skin btn-lg" style="color:black; font-size:inherit; font-family:inherit">Work</a>
                        <a data-scroll href="https://www.linkedin.com/in/martingyoung22/" target="_blank" class="btn btn-skin btn-lg" style="color:black; font-size:inherit; font-family:inherit">LinkedIn</a>
                    </div>
                
            </div>


        </div>
	</div>

	<div class="mouse-down scroll-to"><a href="#agency"><i class="ion-mouse"></i></a></div>
</section>
<!--intro section end-->

<section id="agency">
	<div class="space-100"></div>
	<div class="container-fluid">
		<h2 class="center-title scrollReveal sr-bottom">Who am I?</h2>
		<div class="center-border"></div>
				<div class="profile page__section">					
                    <div class="profile__image">
                        <img src="~/one-page/assets/images/ProMeCropped.jpg" />
                    </div>
                    <div class="profile__info">
                        <div class="profile__description">
                            <p>
                                I'm <span class="text-color">Martin Young</span> based out of San Antonio, Texas. I have lived in Austin, Charlotte and New Paltz, NY.
                            </p>
                            <p>Whether it is great art or efficient code, fulfillment is the creation of something from nothing.</p>
                            <p>
                                My father worked for INTEL in 1984 and I first learned coding from using DOS on the basement computer.
                                Rekindling my love of programming and coding I embarked on a self-taught journey: How to build websites with HTML/CSS.
                                I am now a web designer/developer with experience in HTML5, CSS, JavaScript, jQuery, JSON, Asp.Net and the MVC format.
                                I love to collaborate with other like-minded individuals to create innovative content. I'd like to work with you to bring your ideas to fruition!
                            </p>
                            <p>
                                For most of my life, I've lived in many places and worked in multi-cultural enviornments along side many differing personalities. From Miami to Hawaii, I've developed prolific traits to meet the challenges of managing multiple tasks. Throughout the course of my career I have been known for my leadership, my malleability, and the calm I exude under pressure.
                            </p>
                            <p>
                                Through web development, I'm able to capitalize on my inquisitorial and analytical skills while continuing to engage with people.
                                I love to learn anew, whether that happens to be a new city or a new concept - I believe unique experiences are the spice of life and I embrace future challenges with an open heart!
                                My other passions include hiking and biking the great outdoors, playing my guitar, and traveling.
                            </p>
                            <p>
                                Let's build something together!
                            </p>
                        </div>
					</div>
				</div>
			</div>
		
	<div class="space-80"></div>
</section>
<!--end about section-->
<!-- Parallax -->
<div class="dzsparallaxer auto-init" data-options='{   direction: "reverse"}' style="height: 350px;">
	<div class="divimage dzsparallaxer--target " style="width: 101%; height: 600px; background-image:url(/one-page/assets/images/BlueBuildings.jpg)">
	</div>
	<div class=" parallax-text text-center center-it">
		@*<h2>" A Super Simple Minimal One Page for Creative & Small Agencies "</h2>*@
	</div>
</div>
<!-- End Parallax -->
<!--start services-->
<section id="services">
	<div class="space-100"></div>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 margin-b-50">
				<h2 class="center-title" >M.Y. Portfolio</h2>
				<div class="center-border"></div>
			</div>
		</div><!--row end-->
		<div class="row">
			<div class="col-md-12">
                <ul class="row list-unstyled services-list" style="color:lawngreen;">


                    <li class="col-lg-4 clearfix scrollReveal sr-bottom sr-delay-2" style="border: 2px solid black; background-image: url('/one-page/assets/images/BuildingOne.jpg'); background-size: 100% 100%">
                        @*<i class="ion-ios-briefcase-outline"></i>*@
                        <div class="content" style="margin-bottom: 10px;">
                            <p>
                                <br /><br /><br /><br /><br /><br /><br /><br />
                            </p>
                            <a href="~/one-page/2025_01_02_Formated_Resume.pdf" target="_blank" class="cbp-l-project-details-visit" title="download pdf">RESUME</a>
                        </div>
                    </li>

                    <li class="col-lg-4 clearfix  scrollReveal sr-bottom sr-delay-1" style="border: 2px solid black; background-image: url('/one-page/assets/images/BuildingTwo.jpg'); background-size: 100% 100%">
                        @*<i class="ion-images"></i>*@
                        <div class="content" style="margin-bottom: 10px;">
                            <p>
                                <br /><br /><br /><br /><br /><br /><br /><br />
                            </p>
                            <a href="http://martinbookshop.azurewebsites.net" target="_blank" class="cbp-l-project-details-visit">Martin's Book Shop</a>
                        </div>
                    </li>

                    <li class="col-lg-4 clearfix  scrollReveal sr-bottom sr-delay-1" style="border: 2px solid black; background-image: url('/one-page/assets/images/BuildingThree.jpg'); background-size: 100% 100%">
                        @*<i class="ion-images"></i>*@
                        <div class="content" style="margin-bottom: 10px;">
                            <p>
                                <br /><br /><br /><br /><br /><br /><br /><br />
                            </p>
                            <a href="https://gray-meadow-0f6430e0f.5.azurestaticapps.net" target="_blank" class="cbp-l-project-details-visit">Around the US</a>
                        </div>
                    </li>

                    @*<li class="col-lg-4 clearfix  scrollReveal sr-bottom sr-delay-1" style="border: 2px solid black; background-image: url('/one-page/assets/images/BuildingFour.jpg'); background-size: 100% 100%">
                        <i class="ion-images"></i>
                        <div class="content" style="margin-bottom: 10px;">
                            <p>
                                <br /><br /><br /><br /><br /><br /><br /><br />
                            </p>
                            <a href="https://typiql.github.io/WinterVacation/" target="_blank" class="cbp-l-project-details-visit">Winter Vacation</a>
                        </div>
                    </li>*@

                    <!--<li class="col-lg-4 clearfix scrollReveal sr-bottom sr-delay-2" style="border: 2px solid black; background-image: url('/one-page/assets/images/BuildingThree.jpg'); background-size: 100% 100%">-->
                    @*<i class="ion-bag"></i>*@
                    <!--<div class="content" style="margin-bottom: 10px;" >
            <p>
                <br /><br /><br /><br /><br /><br /><br /><br />
            </p>
            <a href="@Url.Action("Index", "Posts")" class="cbp-l-project-details-visit">Blog</a>
        </div>
    </li>-->
                    <!--<li class="col-lg-4 clearfix scrollReveal sr-bottom sr-delay-3" style="border: 2px solid black; background-image: url('/one-page/assets/images/BuildingFour.jpg'); background-size: 100% 100% ">-->
                    @*<i class="ion-hammer"></i>*@
                    <!--<div class="content" style="margin-bottom: 10px;">
            <p>
                <br /><br /><br /><br /><br /><br /><br /><br />
            </p>
            <a href="http://mgyoung-budgeter.azurewebsites.net/Account/Login" target="_blank" class="cbp-l-project-details-visit">Budget Planner</a>
        </div>
    </li>-->
                    <li class="col-lg-4 clearfix scrollReveal sr-bottom sr-delay-4" style="border: 2px solid black; background-image: url('/one-page/assets/images/BuildingFive.jpg'); background-size: 100% 100%">
                        @*<i class="ion-ios-people-outline"></i>*@
                        <div class="content" style="margin-bottom: 10px;">
                            <p>
                                <br /><br /><br /><br /><br /><br /><br /><br />
                            </p>
                            <a href="#Palindrome" class="cbp-l-project-details-visit" data-toggle="modal" data-target="#Palindrome">Palindrome</a>
                        </div>
                    </li>
                    <li class="col-lg-4 clearfix scrollReveal sr-bottom sr-delay-3" style="border: 2px solid black; background-image: url('/one-page/assets/images/BuildingSix.jpg'); background-size: 100% 100%">
                        @*<i class="ion-iphone"></i>*@
                        <div class="content" style="margin-bottom: 10px;">
                            <p>
                                <br /><br /><br /><br /><br /><br /><br /><br />
                            </p>
                            <a href="#" class="cbp-l-project-details-visit" data-toggle="modal" data-target="#FizzBuzz">FizzBuzz</a>
                        </div>
                    </li>



                    <li class="col-lg-4 clearfix scrollReveal sr-bottom sr-delay-3" style="border: 2px solid black; background-image: url('/one-page/assets/images/BuildingSeven.jpg'); background-size: 100% 100%">
                        @*<i class="ion-ios-people-outline"></i>*@
                        <div class="content" style="margin-bottom: 10px;">
                            <p>
                                <br /><br /><br /><br /><br /><br /><br /><br />
                            </p>
                            <a href="#" class="cbp-l-project-details-visit" data-toggle="modal" data-target="#Factorialize">Factorialize !n</a>
                        </div>
                    </li>
                    <li class="col-lg-4 clearfix scrollReveal sr-bottom sr-delay-4" style="border: 2px solid black; background-image: url('/one-page/assets/images/BuildingEight.jpg'); background-size: 100% 100%">
                        @*<i class="ion-iphone"></i>*@
                        <div class="content" style="margin-bottom: 10px;">
                            <p>
                                <br /><br /><br /><br /><br /><br /><br /><br />
                            </p>
                            <a href="#" class="cbp-l-project-details-visit" data-toggle="modal" data-target="#LeastNumberModal">Least Number Given</a>
                        </div>
                    </li>
                    <li class="col-lg-4 clearfix scrollReveal sr-bottom sr-delay-3" style="border: 2px solid black; background-image: url('/one-page/assets/images/BuildingNine.jpg'); background-size: 100% 100%">
                        @*<i class="ion-ios-people-outline"></i>*@
                        <div class="content" style="margin-bottom: 10px;">
                            <p>
                                <br /><br /><br /><br /><br /><br /><br /><br />
                            </p>
                            <a href="#" class="cbp-l-project-details-visit" data-toggle="modal" data-target="#GreatestNumberModal">Greatest Number Given</a>
                        </div>
                    </li>
                </ul>
			</div>
		</div><!--row end-->
		<hr>
		<div class="space-60"></div>
		@*<div class="text-center scrollReveal sr-bottom">
				<h1 class="margin-b-20" style="text-decoration: underline">My Journey as a Software Developer</h1>

				<div class="w3-display-container w3-container">

					<a style="border: 2px solid black; background-image:url('/one-page/assets/images/KittenButton(1).jpg');
							background-size: 100% 100%" margin-top: 100px; class="img-rounded btn btn-lg w3-text-red" href="@Url.Action("Index", "Posts")">
						<h2 style="color:lawngreen; text-shadow:black !important" class="text-center w3-hide-small">BLOG</h2>
					</a>
					<div class=" w3-text-white" style="padding:24px 48px">
					</div>
				</div>
			</div>*@
	</div>
</section>
<!--end services-->
<div class="space-70"></div>


<!-- Parallax -->
<div class="dzsparallaxer auto-init" data-options='{direction: "reverse"}' style="height: 350px">
	<div class="divimage dzsparallaxer--target " style="width: 101%; height: 600px;  background-image: url(/one-page/assets/images/Windows.jpg)">
	</div>
	<div class="parallax-text text-center center-it">
		<div class="testi-slider">
			<ul class="slides">
				<li>
					<p>
						"No one can make you feel inferior without your consent."<i>-Elanor Roosevelt</i>
					</p>
				</li>

				<li>
					<p>
						"Be yourself; everyone else is already taken."<i>-Oscar Wilde</i>
					</p>
				</li>
				<li>
					<p>
						"My computer once beat me at chess. But it was no match for me at kickboxing."<i>-Emo Phillips</i>
					</p>
				</li>
				<li>
					<p>
						"To be or not to be. That's not really a question."<i>-Jean-Luc Godard</i>
					</p>

				</li>
			</ul>
		</div>
	</div><!--parallax text-->
</div>
<!-- End Parallax -->
<!--contact start-->

<section id="contact" class="contact-section">
	<div class="space-100"></div>
	<div class="container">
		<div class="row margin-b-50">
			<div class="col-sm-12 scrollReveal sr-bottom">
				<h2 class="center-title" >Let's Connect!</h2>
				<div class="center-border"></div>
			</div>
		</div><!--row-->
		<div class="row">
			<div class="col-md-5 offset-md-1 margin-b-30 scrollReveal sr-left">
				@using (Html.BeginForm("Contact", "Home", FormMethod.Post))
				{
					@Html.AntiForgeryToken()
					<div class="row">
						<div class="col-sm-12">
							<div class=" margin-b-20">
								<input type="text" name="fromname" id="fromname" class="form-control" placeholder="Full Name...." />
							</div>
							<div class=" margin-b-20">
								<input type="text" name="fromemail" id="fromemail" class="form-control" placeholder="Email Address...." />
							</div>
						</div>
						<div class="col-sm-12">
							<textarea name="body" id="body" class="form-control margin-b-20" rows="5" placeholder="Message...."></textarea>
						</div>
					</div>
					@*<div class="row">
							<div class="col-sm-12 text-center">
								<div class="data-status"></div>
							</div>
						</div>*@
					<div class="row">
						<div class="col-sm-12 text-center">
							<button type="submit" class="btn btn-lg btn-skin-border btn-block margin-b-20">Send Message</button>
							@*<button type="submit" class="btn btn-lg btn-skin-border btn-block margin-b-20" onclick="alertme()">Send Message</button>*@

						</div>
					</div>
				}  <!--form end-->
			</div><!--form col end-->

			<div class="col-md-5 offset-md-1 scrollReveal sr-right sr-delay-1">
				<div class="contact-details">
					<p class="lead"><br><br></p>
					<p class="lead"><a href="#contact">Martingyoung@@hotmail.com</a></p>
					<ul class="list-inline">
							<li class="list-inline-item"><a href="#"><i class="ion-social-facebook-outline"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="ion-social-twitter-outline"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="ion-social-googleplus-outline"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="ion-social-linkedin-outline"></i></a></li>
						</ul>
				</div><!--contact detail-->
			</div><!--contact detail col end-->
		</div>
	</div>
	<div class="space-40"></div>
	<!-- Google Map -->
	@*<section id="map">
			<div id="google-map" style="width: 100%; height: 400px;"></div>
		</section>*@
	<!-- End Google Map -->
</section>
<!--contact end-->
<!--modal of video-->
@*<div class="modal video-modal fade" id="video-popup" tabindex="-1" role="dialog" aria-labelledby="video-popup">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="ion-close"></span></button>
				</div>
				<div class="modal-body">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe id="vimeo-video" src="http://player.vimeo.com/video/57175742"></iframe>
					</div>
				</div>
			</div>
		</div>
	</div>*@
<!--end the modal of video-->
<!--back to top-->
<a href="#" class="scrollToTop"><i class="ion-android-arrow-dropup-circle"></i></a>
<!--back to top end-->
<!--LeastNumberModal for Tiger-->
<div class="allModals">

	<div id="Palindrome" class="modal fade bd-example-modal-lg">
		<div class="modal-dialog modal-lg" style="left:auto; padding-top:300px">
			<div class="modal-content">
				<span data-dismiss="modal" data-target="#Palindrome" class="close">X</span>

				<h3>Palindrome</h3>
				<div class="col-md-12">
					<pre class="brush:js">
	function palindromeFunc() {
		var palInput = document.getElementById("word").value;
		palInput = palInput.toLowerCase().replace(/[^a-z]+/g, ""); 
																		
		var iBox = "";	 
																					
		for (var i = palInput.length - 1; i >= 0; i--) {
			iBox += palInput.charAt(i); 
		}							
		if (iBox == palInput) {
		document.getElementById("result").innerHTML = "Your word " + palInput + " is Palindrome.";							
		}					
																	
		if (iBox != palInput) {
		document.getElementById("result").innerHTML = "Your word " + palInput + " is NOT Palindrome.";							
		}

	}
						</pre>
				</div>
				<div class="col-md-12">
					<div>
						<p style="font-size:35px">Type in your word to see if it's a Palindrome!!</p>
						<input id="word" type="text" style="font-size:40px" /><br />
						<button onclick="palindromeFunc()" style="width:180px;height:90px">Palindrome!!</button>
						<div class="col-md-12">
							<p id="result" style="font-size:75px !important"></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="FizzBuzz" class="modal fade bd-example-modal-lg">
		<div class="modal-dialog modal-lg" style="left:auto; padding-top:300px">
			<div class="modal-content">
				<span data-dismiss="modal" data-target="#FizzBuzz" class="close">X</span>

				<h3>Javascript Exercise:FizzBuzz</h3>
				<div class="col-md-12" style="display:inline">
					<pre class="brush:js">
							function fizzBuzzNumber(){
					var x = document.getElementById("num27").value;
					var y = document.getElementById("num28").value;
					var output="";
					for (var i = 1; i <= 100; i++) {
					
						if (i % x === 0 && i % y === 0) {
							output += ' fizzBuzz ';

						} else if (i % x === 0) {
							output += ' fizz ';

						} else if (i % y === 0) {
							output += ' buzz ';

						} else {
							output += i;

						}

					}
						document.getElementById("result7").innerHTML = output;
				}
							</pre>
				</div>
				<div class="col-md-12">
					<p align="center">
						"Enter 2 numbers between 1 and 100. Then hit the FizzBuzzer!!! to replace multiples of your 1st number with "Fizz"
						and to replace multiples of your second number with "Buzz". It will also replace multiples of both with "FizzBuzz!"
					</p>

				</div>
				<div class="row">
					<div class="col-md-3">
						<p>
							Number one<input class="form-control" type="number" id="num27" /><br />
							Number two<input class="form-control" type="number" id="num28" /><br />
						</p>
						<button onclick="fizzBuzzNumber()" style="width:130px;height:70px"> Hit<br /> this <br />FizzBuzzer!!! </button>
					</div>
					<div class="col-md-9">
						<p id="result7" style="font-size:25px"></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="Factorialize" class="modal fade bd-example-modal-lg">
		<div class="modal-dialog modal-lg" style="left:auto; padding-top:300px">
			<div class="modal-content" style=width: 100%">
				<span data-dismiss="modal" data-target="#Factorialize" class="close">X</span>

				<h3>Javascript Exercise:Factorialize !n</h3>
				<div class="col-md-12" style="display:inline-block">
					<pre class="brush:js">
											function factorializeNum() {

					var n = Number(document.getElementById("num26").value);
					var factorializeTotal = 1;

					for (var i = n; i >= 1; i--) {
						factorializeTotal *= i;
					}

					document.getElementById("result6").innerHTML = factorializeTotal;

				}
							</pre>
				</div>
				<div class="modal-body">
					<div class="col-md-12" style="display:inline-block">
						<p align="center">Enter a number and Click !n to factorialize</p>
					</div>
					<div class="row">
						<div class="col-md-4">
							Number one<input class="form-control" type="number" id="num26" /><br />
						</div>
						<div class="col-md-2">
						</div>
						<div class="col-md-2">
							<button onclick="factorializeNum()" style="width:180px;height:90px">!n</button>
						</div>
					</div>
					<div class="col-md-12">
						<p id="result6" style="font-size:75px !important"></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="LeastNumberModal" class="modal fade bd-example-modal-lg">
		<div class="modal-dialog modal-lg" style="left:auto; padding-top:300px">
			<div class="modal-content" style="text-overflow:ellipsis !important">
				<span data-dismiss="modal" data-target="#LeastNumberModal" class="close">X</span>
				<h3>Javascript Exercise:Least Number Given</h3>
				<div class="col-md-12" style="display:inline-block">
					<pre class="brush:js">
								function leastNum() {
								var holdOne = Number(document.getElementById("num1").value);
								var holdTwo = Number(document.getElementById("num2").value);
								var holdThree = Number(document.getElementById("num3").value);
								var holdFour = Number(document.getElementById("num4").value);
								var holdFive = Number(document.getElementById("num5").value);
								document.getElementById("result1").innerHTML = Math.min(holdOne, holdTwo, holdThree, holdFour, holdFive);
									 }
							</pre>
				</div>

				<div class="col-md-12" style="display:inline-block">
					<p align="center">Choose 5 numbers and Click Result to find the least number</p>
					<div class="row">
						<div class="col-md-5">
							<input class="form-control" type="number" id="num1" placeholder="number one" />
							<input class="form-control" type="number" id="num2" placeholder="number two" />
							<input class="form-control" type="number" id="num3" placeholder="number three" /><br />
						</div>
						<div class="col-md-5">
							<input class="form-control" type="number" id="num4" placeholder="number four" />
							<input class="form-control" type="number" id="num5" placeholder="number five" />
						</div>
						<div class="col-md-2">
							<button onclick="leastNum()" style="width:50px;height:50px">Result</button>
						</div>
						<div style="text-align:center; padding-left:20px">
							<p id="result1" style="font-size:25px !important"></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="GreatestNumberModal" class="modal fade bd-example-modal-lg">
		<div class="modal-dialog modal-lg" style="left:auto; padding-top:300px">
			<div class="modal-content" style="text-overflow:ellipsis !important">
				<span data-dismiss="modal" data-target="#GreatestNumberModal" class="close">X</span>
				<h3>Javascript Exercise:Greatest Number Given</h3>
				<div class="col-md-12" style="display:inline-block">
					<pre class="brush:js">
											function greatestNum() {
					var holdOne = Number(document.getElementById("num6").value);
					var holdTwo = Number(document.getElementById("num7").value);
					var holdThree = Number(document.getElementById("num8").value);
					var holdFour = Number(document.getElementById("num9").value);
					var holdFive = Number(document.getElementById("num10").value);
					document.getElementById("result2").innerHTML = Math.max(holdOne, holdTwo, holdThree, holdFour, holdFive);
				}
							</pre>
				</div>
				<div class="col-md-12" style="display:inline-block">
					<p align="center">Choose 5 numbers and Click Result to find the greatest number</p>
				</div>
				<div class="row">
					<div class="col-md-5">
						<input class="form-control" type="number" id="num6" placeholder="number one" />
						<input class="form-control" type="number" id="num7" placeholder="number two" />
						<input class="form-control" type="number" id="num8" placeholder="number three" /><br />
					</div>
					<div class="col-md-5">
						<input class="form-control" type="number" id="num9" placeholder="number four" />
						<input class="form-control" type="number" id="num10" placeholder="number five" />
					</div>
					<div class="col-md-2">
						<button onclick="greatestNum()" style="width:50px;height:50px">Result</button>
					</div>
					<div style="text-align:center; padding-left:20px">
						<p id="result2" style="font-size:25px !important; color: black !important"></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	$("#LeastNumberModal").on("hide.bs.modal", function () {
		document.getElementById("result1").innerHTML = "";
		//$(".form-control").find("input:text").val("");
		//clearMultiInput("form-control");
		document.getElementById("num1").value = "";
		document.getElementById("num2").value = "";
		document.getElementById("num3").value = "";
		document.getElementById("num4").value = "";
		document.getElementById("num5").value = "";

	})
</script>

<script>
	$("#GreatestNumberModal").on("hide.bs.modal", function () {
		document.getElementById("result2").innerHTML = "";
		document.getElementById("num6").value = "";
		document.getElementById("num7").value = "";
		document.getElementById("num8").value = "";
		document.getElementById("num9").value = "";
		document.getElementById("num10").value = "";

	})
</script>





<script>
	$("#Factorialize").on("hide.bs.modal", function () {
		document.getElementById("result6").innerHTML = "";
		document.getElementById("num26").value = "";
	})
</script>

<script>
	$("#FizzBuzz").on("hide.bs.modal", function () {
		document.getElementById("result7").innerHTML = "";
		document.getElementById("num27").value = "";
		document.getElementById("num28").value = "";

	})
</script>

<script>
	$("#Palindrome").on("hide.bs.modal", function () {
		document.getElementById("result").innerHTML = "";
		document.getElementById("word").value = "";
	})
</script>




