@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Budgeter!</h1>
    <p>Your personal finance tracker and budget management tool.</p>
    <p>
        <a class="btn btn-primary btn-lg" href="/Households">Get Started</a>
    </p>
</div>
